{% extends 'layouts.html' %}

{% block title %}
Python x Ajax x SocketIO
{% endblock %}

{% block content %}
<form id="weather_form">
    <input type="text" name="city" id="city" placeholder="Name of a city">
    <input type="submit">
</form>

<div>
    <h2>
        Weather responses:
    </h2>
</div>
<div id="weather_result"></div>


<div>
    <h2>
        Voting system:
    </h2>

    <div>
        <div>Yes: <span id="yes">{{ votes['yes'] }}</span></div>
        <div>No: <span id="no">{{ votes['no'] }}</span></div>
        <div>Maybe: <span id="maybe">{{ votes['maybe'] }}</span></div>

        <button data-vote="yes">yes</button>
        <button data-vote="no">no</button>
        <button data-vote="maybe">maybe</button>
    </div>
</div>
{% endblock %}